/* stylelint-disable scss/at-import-no-partial-leading-underscore -- due to bootstrap includes */
/*https://stackoverflow.com/questions/60012016/importing-bootstrap-css-in-app-js-breaks-current-styles-vuejs*/
/* required:*/
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';
/* optional*/
@import 'bootstrap/scss/_root';
/*@import "bootstrap/scss/_reboot";*/
@import 'bootstrap/scss/_images';
@import 'bootstrap/scss/_grid';

@import 'bootstrap/scss/_forms';
@import 'bootstrap/scss/_buttons';
@import 'bootstrap/scss/_transitions';
@import 'bootstrap/scss/_button-group';
@import 'bootstrap/scss/_input-group';
@import 'bootstrap/scss/_dropdown';
@import 'bootstrap/scss/_alert';
@import 'bootstrap/scss/_list-group';
@import 'bootstrap/scss/_utilities';

/*marked as not working but required*/
@import 'bootstrap/scss/_tables';
@import 'bootstrap/scss/_custom-forms';
@import 'bootstrap/scss/_modal';

.b2sharebridge {
	width: 100%;
}

.b2sharebridge h1 {
	font-family: inherit;
	font-weight: 500;
	font-size: 36px;
	line-height: 1.1;
	color: inherit;
}

.b2sharebridge h1 small {
	color: gray;
}

.b2sharebridge table{
	margin-top: 20px;
	width: 100%;
	table-layout: fixed /* fix a bug on firefox*/
}

.b2sharebridge .publish-queue-list th {
	/*text-align: left;*/
}

.b2share-modal-header, btn .btn-primary {
	background-color: rgb(26, 48, 99);
	color: white;
}

p {
	margin-bottom: 0;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}