.b2sharebridge h1 {
    font-family: inherit;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    color: inherit;
}

.b2sharebridge h1 small {
    color: gray;
}

.b2sharebridge table{
    margin-top: 20px;
    width: 100%;
}

.b2sharebridge .publish-queue-list th {
    /*text-align: left;*/
}

#app-navigation2 > ul {
	position: relative;
	height: 100%;
	width: inherit;
	overflow: auto;
	box-sizing: border-box;
}

#app-navigation2 > ul ul {
	position: relative;
	height: 100%;
	width: inherit;
	overflow: auto;
	box-sizing: border-box;
}

#app-navigation2 > ul ul li > a {
	padding-left: 32px;
}
