.b2sharebridge {
	width: 100%;
}

.b2sharebridge h1 {
	font-family: inherit;
	font-weight: 500;
	font-size: 36px;
	line-height: 1.1;
	color: inherit;
}

.b2sharebridge h1 small {
	color: gray;
}

.b2sharebridge table{
	margin-top: 20px;
	width: 100%;
	table-layout: fixed /* fix a bug on firefox*/
}

.b2sharebridge .publish-queue-list th {
	/*text-align: left;*/
}

.b2share-modal-header, btn .btn-primary {
	background-color: rgb(26, 48, 99);
	color: white;
}