#history {
    margin: 2em 2em 0;
}

#feedback-messages h3 {
    font-size: 1.3em;
    font-style: italic;
}

.success {
    color: green;
}

.failure {
    color: red;
}

#eudatdropdown {
	background:#eee;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow:0 1px 1px #777;
	display:block;
	margin-right:7em;
	position:absolute;
	right:0;
	width:5em;
	z-index:500;
	padding:1em;
	-moz-box-shadow:0 1px 1px #777; 
	-webkit-box-shadow:0 1px 1px #777; 
	box-shadow:0 1px 1px #777;
	-moz-border-radius-bottomleft:1em; 
	-webkit-border-bottom-left-radius:1em; 
	border-bottom-left-radius:1em;
	-moz-border-radius-bottomright:1em; 
	-webkit-border-bottom-right-radius:1em; 
        border-bottom-right-radius:1em; 
}


.editable {
    overflow: hidden;
    white-space: nowrap;
    min-height: 25px;
    color: #333;
    cursor: auto;
    border: 1px solid #333;
    background: #FFF;
    padding: 5px;
    text-align: left;
}

 .wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
