<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
         strict="true"
         verbose="true"
         timeoutForSmallTests="900"
         timeoutForMediumTests="900"
         timeoutForLargeTests="900"
>
    <testsuite name='B2SHAREBRIDGE App Tests'>
        <directory suffix='Test.php'>unit</directory>
    </testsuite>
</phpunit>